<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || "Niklas Stephenson" %></title>
    <meta name="description" content="<%= current_page.data.description || "I start and build companies, love great products and adventures on my motorcycle. Focus on enjoying life while never settling with the present." %>">
    <meta property="og:title" content="<%= current_page.data.title || "Niklas Stephenson" %>">
    <meta property="og:description" content="<%= current_page.data.description %>">
    <meta property="og:image" content="<%= config[:host] %><%= image_path 'social-share.png' %>">
    <meta property="og:url" content="<%= config[:host] %><%= current_page.url %>">
    <meta property="og:site_name" content="Niklas Stephenson">
    <meta name="twitter:title" content="<%= current_page.data.title || "Niklas Stephenson" %>">
    <meta name="twitter:description" content="<%= current_page.data.description %>">
    <meta name="twitter:image" content="<%= config[:host] %><%= image_path 'social-share.png' %>">
    <meta name="twitter:card" content="summary_large_image">
    <%= stylesheet_link_tag "site" %>
  </head>

  <body class="<%= current_page.data.bodyclass || "" %>">
    <%= yield %>
    <script>
      !function(){var i,e,t,s=window.legal=window.legal||[];if(s.SNIPPET_VERSION="3.0.0",i="https://widgets.legalmonster.com/v1/legal.js",!s.__VERSION__)if(s.invoked)window.console&&console.info&&console.info("legal.js: The initialisation snippet is included more than once on this page, and does not need to be.");else{for(s.invoked=!0,s.methods=["cookieConsent","document","ensureConsent","handleWidget","signup","user"],s.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);return e.unshift(t),s.push(e),s}},e=0;e<s.methods.length;e++)t=s.methods[e],s[t]=s.factory(t);s.load=function(e,t){var n,o=document.createElement("script");o.setAttribute("data-legalmonster","sven"),o.type="text/javascript",o.async=!0,o.src=i,(n=document.getElementsByTagName("script")[0]).parentNode.insertBefore(o,n),s.__project=e,s.__loadOptions=t||{}},s.widget=function(e){s.__project||s.load(e.widgetPublicKey),s.handleWidget(e)}}}();

      legal.widget({
          type: "cookie",
          widgetPublicKey: "bJ2UQb8qDFTvRbFcPvUezw2y",
      });
    </script>
  </body>
</html>
