<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <link rel="icon" href="<%= image_path('favicon.png') %>">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= current_page.data.title || "Niklas Stephenson" %></title>
    <meta name="description" content="<%= current_page.data.description || "I start and build companies, love great products and adventures on my motorcycle. Focus on enjoying life while never settling with the present." %>">

    <%= stylesheet_link_tag "out" %>
    <link rel="alternate" type="application/rss+xml" title="Niklas Stephenson" href="/feed.xml" />

    <link rel="preload" href="../fonts/iAWriterMonoS-Regular.eot" as="font">
    <link rel="preload" href="../fonts/iAWriterMonoS-Regular.woff2" as="font">
    <link rel="preload" href="../fonts/iAWriterMonoS-Regular.woff" as="font">

    <link rel="preload" href="../fonts/iAWriterMonoS-Bold.eot" as="font">
    <link rel="preload" href="../fonts/iAWriterMonoS-Bold.woff2" as="font">
    <link rel="preload" href="../fonts/iAWriterMonoS-Bold.woff" as="font">

    <% encoded_url = ERB::Util.url_encode(config[:host] + current_page.url) %>

    <% #if config[:environment] == :development %>
      <script src="https://cdn.jsdelivr.net/npm/ogkit@1"></script>
    <% #end %>

    <meta property="og:title" content="<%= current_page.data.title || "Niklas Stephenson" %>" />
    <meta property="og:description" content="<%= current_page.data.description || "I start and build companies, love great products and adventures on my motorcycle. Focus on enjoying life while never settling with the present." %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= config[:host] %><%= current_page.url %>" />
    <meta property="og:image" content="https://ogkit.dev/img/DERpgoSq.jpeg?url=<%= encoded_url %>" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="<%= current_page.data.title || "Niklas Stephenson" %>" />
    <meta name="twitter:description" content="<%= current_page.data.description || "I start and build companies, love great products and adventures on my motorcycle. Focus on enjoying life while never settling with the present." %>" />
    <meta name="twitter:image" content="https://ogkit.dev/img/DERpgoSq.jpeg?url=<%= encoded_url %>" />
    <template data-og-template>
      <div class="bg-white px-40 py-36 flex flex-col justify-between">
        <p class="text-[24px] text-gray-400 font-medium">stephenson.dk</p>
        <h1 class="text-[64px] font-semibold leading-tight line-clamp-4"><%= current_page.data.title || "Niklas Stephenson" %></h1>
        <div class="flex items-center">
          <img class="size-20 rounded-xl" src="<%= image_path('niklas.jpg') %>">
          <p class="pl-6 text-[28px] font-medium">Niklas Stephenson</p>
        </div>
      </div>
    </template>
  </head>

  <body class="bg-white dark:bg-slate-900 font-iawriter antialiased">
    <div class="mt-6 lg:mt-12 mb-0 prose prose-green prose-lg text-gray-900 dark:text-slate-200 mx-5 lg:mx-auto">
      <header class="dark:bg-slate-900">
        <h1 class="font-iawriterbold text-3xl dark:text-slate-200">Niklas Stephenson</h1>
        <a href="/" class="mr-2 font-medium text-gray-900 dark:text-slate-200 dark:hover:text-indigo-50">Blog</a>
        <a href="https://www.linkedin.com/in/niklasstephenson/" class="mr-2 font-medium text-gray-900 dark:text-slate-200 dark:hover:text-indigo-50">CV</a>
        <a href="https://x.com/nikstep" class="mr-2 font-medium text-gray-900 dark:text-slate-200 dark:hover:text-indigo-50">Twitter</a>
        <a href="/about/" class="mr-2 font-medium text-gray-900 dark:text-slate-200 dark:hover:text-indigo-50">About</a>
      </header>


      <%= yield %>

      <footer class="bg-white dark:bg-slate-900 mt-8 lg:mt-10">
        <div class="">
          <div class="flex justify-center space-x-6 md:order-2">

            <a href="https://twitter.com/nikstep" class="text-gray-500 hover:text-gray-600">
              <span class="sr-only">Twitter</span>
              <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                <path d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84" />
              </svg>
            </a>

            <a href="https://www.linkedin.com/in/niklasstephenson/" class="text-gray-500 hover:text-gray-600">
              <span class="sr-only">LinkedIn</span>
              <svg class="h-6 w-6" fill="currentColor" enable-background="new 0 0 56.693 56.693"  id="Layer_1" version="1.1" viewBox="0 0 56.693 56.693" width="56.693px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g><path d="M30.071,27.101v-0.077c-0.016,0.026-0.033,0.052-0.05,0.077H30.071z"/><path d="M49.265,4.667H7.145c-2.016,0-3.651,1.596-3.651,3.563v42.613c0,1.966,1.635,3.562,3.651,3.562h42.12   c2.019,0,3.654-1.597,3.654-3.562V8.23C52.919,6.262,51.283,4.667,49.265,4.667z M18.475,46.304h-7.465V23.845h7.465V46.304z    M14.743,20.777h-0.05c-2.504,0-4.124-1.725-4.124-3.88c0-2.203,1.67-3.88,4.223-3.88c2.554,0,4.125,1.677,4.175,3.88   C18.967,19.052,17.345,20.777,14.743,20.777z M45.394,46.304h-7.465V34.286c0-3.018-1.08-5.078-3.781-5.078   c-2.062,0-3.29,1.389-3.831,2.731c-0.197,0.479-0.245,1.149-0.245,1.821v12.543h-7.465c0,0,0.098-20.354,0-22.459h7.465v3.179   c0.992-1.53,2.766-3.709,6.729-3.709c4.911,0,8.594,3.211,8.594,10.11V46.304z"/></g></svg>
            </a>

          </div>
          <div class="mt-8 md:mt-0 md:order-1">
            <p class="text-center text-base text-gray-500">
              &copy; <%= Time.now.year %> Niklas Stephenson - You know all rights reserved and stuff.
            </p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
